*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background-color: #88d5f7;
  color: #fff;
}
::selection {
  background-color: #88d5f7;
  color: #fff;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #272b2d;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
body {
    font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
}
p {
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
}

    header { 
      position: relative;
    }
  
    .subscribe-form {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    
    .subscribe-email {
      width: 100px;
    }
    
    .tcd-logo h1 {
      text-indent: -9999em;
      background-image: url(https://cldup.com/axmhgHyAxt.svg);
      background-repeat: no-repeat;
      display: block;
      width: 50px;
      height: 30px;
      margin: 0;
      padding: 0;
    }
    nav {
     	text-align: center;
      font-size: 14px;
      margin: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    nav form {
      display: inline-block
    }

h1, h2, h3, h4, h5, h6
strong {
  font-weight: 600;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  margin: 0px 0px 20px 0px;
  font-size: 1.8em;
  text-align: center;
}

h1 span {
  margin-top: 5px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
}
h2 {
  margin: 0 0 0.715em 0;
  padding-bottom: 0.715em;
  font-size: 1.5em;
}
h3 {
  margin: 1.5em 0;
  font-size: 1.25em;
}
h2,
h3 {
  line-height: 1.2;
}
p {
  font-size: 15px;
  margin-bottom: 1.25em;
}
p:last-of-type {
  margin: 0;
}
a {
  cursor: pointer;
}
a:hover {

}
.content {
  margin: 40px auto 0;
}
section {
  padding-bottom: 1.875em;
  margin-bottom: 1.875em;
  border-bottom: 1px solid #e6eaed;
}
section:last-of-type {
  border: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.card {
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.card h2 {
  border-bottom: 1px solid #e6eaed;
  text-align: center;
}
td {
  border: 1px solid #fff;
  width: 75px;
  height: 40px;
}
.logos th,
.electeds th {
  text-align: center;
  padding-right: 0px;
}
.logos img {
  width: 48px;
  margin-bottom: 0.625em;
}
tr.about td,
.electeds th,
th {
  font-size: 14px;
  
}
tr.about {
  display: none;
}
tr.about td {
  padding: 0.75em;
  background-color: #f2f4f6;
}
.electeds th {
  font-weight: 600;
  padding-bottom: 0.625em;
}
th {
  text-align: right;
  font-weight: normal;
  padding-right: 0.625em;
  font-weight: 600;
}
th a:link,
th a:visited {
  font-size: 14px;
  color: #000;
  cursor: help;
}
th a:link:hover,
th a:visited:hover {
  color: #12acef;
}
.best {
  background: #0af626;
  text-align: center;
}
.pass {
  background: #2ecc40;
}
.part {
  background: #ffdc00;
  padding: 5px;
}
.fail {
  background: #ff4136;
}
.best a:link, .pass a:link, .part a:link, .fail a:link {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  width: 100%;
  display: block;
  opacity: .3;
  text-shadow: 0px 1px rgba(255,255,255,1);
}
.best a:link {
  opacity: .7;
  text-shadow: 0px 1px rgba(255,255,255,.8);
}
/*
.part a:link:after {
  content: " »"
}
*/
.part p {
  display: none;
  font-size: 12px;
}

td p {
  margin-top: 0;
  font-size: 14px;
}

.unknown {
  background: #ccc;
}

aside {
  padding-top: 20px;
  border-top: 1px solid #eee;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.feedback {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 20px;
}

.feedback input, .feedback label, .feedback textarea {
  display: block;
}

.feedback input, .feedback textarea {
  padding: 10px;
  font-size: 15px;
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
}

.feedback input {
  width: 50%;
  min-width: 250px;
}

.feedback textarea {
  width: 100%;
  height: 100px;
}

.feedback label {
  font-size: 14px;
  margin-bottom: 10px;
}

.feedback button {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #ccc;
  font-size: 14px;
}

.feedback button:hover {
  border: 2px solid dodgerblue;
  color: dodgerblue;
  cursor: pointer;
}

.feedback textarea, .feedback input {
  border: 1px solid #ccc;
  outline: 0px;
  margin-bottom: 10px;
}

.commentary {
  text-align:center;
  padding-top: 40px;
  max-width: 500px;
  margin: 0 auto !important;
  display: block;
}

@media screen and (max-width: 31.25em) {
  h1 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 48em) {
  .content {
    width: 90%;
  }
  .help article,
  .help aside {
    float: none;
    width: 100%;
  }
  .help aside {
    margin-top: 2.5em;
  }
  .logos img {
    width: 24px;
    margin-bottom: 0.1875em;
  }
  th {
    font-size: 0.6875em;
  }
  #transparency {
    padding: 10px;
  }
}
@media screen and (min-width: 48.0625em) {
  .content {
    width: 70%;
  }
}
@media screen and (min-width: 68.75em) {
  .content {
    width: 55%;
  }
}
#feedback > h3 {
  text-align: center;
}
.report-card-browser {
  margin-top: 3em;
}
.report-card-browser h3 {
  line-height: 1.7;
}
.report-card-browser h3 img {
  width: 2em;
  float: left;
  padding-right: 0.3em;
}
.report-card-section h4 {
  margin: 0.25em 0;
}
.bar-chart {
  width: 100%;
}
.bar-chart .bar-chart-background,
.bar-chart .bar-chart-bar {
  display: inline-block;
  height: 1.2em;
}
.bar-chart .bar-chart-background {
  width: 100%;
  background: #ff4136;
  position: relative;
}
.bar-chart .bar-chart-bar {
  background: #2ecc40;
  position: absolute;
  top: 0;
  width: 0%;
}
